* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #424245;
    --secandary-color: #f5f5f7;
    --black: #1d1d1f;
    --Dblack: #000000;
    --white: #fbfbfd;
    --links: #2997ff;
    --footer-border-color: #d2d2d7;
    --footer-text-color: #6e6e73;
    ;

}

/* Comman css */

li,
ul,
ol {
    list-style: none;
    color: var(--secandary-color);
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    width: 100%;
    height: 44px;
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footer-text-color);
    z-index: 2;
}

nav .logo {
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(../image/svg/logo.svg);
    background-repeat: no-repeat;
    background-position: center;

}

nav .form {
    display: none;
}

nav .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--secandary-color);
    cursor: pointer;
    margin: 0 0.8rem;
}

.nav-btn {
    display: none !important;
    z-index: 2;
}

.search {
    width: 40px;
    height: 40px;
    position: relative;
    top: -3px;
    left: 10px;
    cursor: pointer;
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url(../image/svg/search.svg);
}

.bag {
    width: 40px;
    height: 40px;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../image/svg/bag.svg);
    background-position: center center;
}

main {
    width: 100%;
    height: min-content;
}

/* Section Comman css */
.Section_comman,
.Csection_2 {
    width: 100%;
    height: 40rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* iPhone 14 Pro */
.section1 {
    background-color: var(--Dblack);
    background-image: url(../image/bg-img/iPhone\ 14\ pro.jpg);
    color: var(--white);
}

.section1 .heading {
    padding-top: 5rem;
}

.heading {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.subHeading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.1rem;
    line-height: 1.21053;
    width: 20rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.section1-links {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 7px;
    align-content: center;
    justify-content: center;
}

.section1-links .section1-link:nth-child(-n+1) {
    margin-right: 20px;
}

.section1-links .section1-link,
.section1-links .section1-link a {
    font-family: "SF Pro Icons";
    font-size: 1.2rem;
    color: var(--links);
    margin-right: 6px;
    font-weight: 500;
}

.section1-links .section1-link a:hover {
    text-decoration: underline;
}

/* iPhone 14*/
.section2 {
    background-color: var(--white);
    background-image: url(../image/bg-img/iPhone\ 14.jpg);
    color: var(--Dblack);
}

/* Apple Watch */
.section3 {
    background-color: var(--Dblack);
    background-image: url(../image/bg-img/watch.jpg);
    color: var(--white);
}

.Watch_heading {
    background-image: url(../image/logo/watch_logo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 10rem;
}

/* 2 Sections */
.section_2 {
    width: calc(100% - 24px);
    height: 100%;
    display: grid;
    background-color: var(--secandary-color);
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    padding: 12px;
    border-bottom: 12px solid var(--secandary-color);
}

.Csection_2:nth-child {
    width: 100%;
    height: 40rem;
    border-bottom: 12px solid var(--secandary-color);
}

/* One */

.cHeading {
    background-size: 30% 45%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 8rem;
    margin-top: -2rem;
    margin-bottom: 0.6rem;
}

.one {
    background-color: var(--secandary-color);
    background-image: url(../image/bg-img/watch2.jpg);
    background-size: cover !important;
    color: var(--Dblack);
}

.section_2 .Watch2_heading {
    background-image: url(../image/logo/watch2_logo.png);
}

/* two */
.two {
    background-color: var(--primary-color);
    background-image: url(../image/bg-img/fitness.jpg);
    background-size: cover !important;
    color: var(--white);
}

.two .fitness_heading {
    margin-top: -3rem;
    background-image: url(../image/logo/fitness_logo.png);
    background-size: 30% 30%;
}

.two .subHeading {
    width: 20rem;
    text-align: center;
}

.two .section1-links .section1-link,
.two .section1-links .section1-link a {
    color: var(--secandary-color) !important;
}

/* three */
.three {
    background-color: var(--primary-color);
    background-image: url(../image/bg-img/gift.jpg);
    background-size: cover !important;
    color: var(--white);
}

.three .section1-links .section1-link,
.three .section1-links .section1-link a {
    color: var(--secandary-color);
}

/* four */
.four {
    background-color: var(--secandary-color);
    background-image: url(../image/bg-img/iPad.jpg);
    background-size: cover !important;
    color: var(--Dblack);
}

/* fifth */
.fifth {
    background-color: var(--primary-color);
    background-image: url(../image/bg-img/airpods.jpg);
    background-size: cover !important;
    color: var(--secandary-color);
}

/* sixth */
.sixth {
    background-color: var(--secandary-color);
    background-image: url(../image/bg-img/card.jpg);
    background-size: cover !important;
    color: var(--Dblack);
}

.sixth .card_heading {
    margin-top: -3rem;
    background-image: url(../image/logo/card_logo.png);
    background-size: 20% 25%;
}

/*? Swiper */
.slider_con {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    max-height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */

footer {
    width: 100%;
    background-color: var(--secandary-color);
}

.footer_comman {
    max-width: 80vw;
    margin: auto;
    padding: 5rem 0;
    font-size: 0.89em;
    padding: 17px 0 11px;
}

.footer_top {
    border-bottom: 1px solid var(--footer-border-color);
}

.footer_top ul li {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.01em;
    color: var(--footer-text-color) !important;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.footer-middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.Footer-heading {
    color: var(--Dblack) !important;
    font-weight: bold;
    margin-top: 1rem !important;
}

.footer-middle ul li {
    color: var(--footer-text-color);
    line-height: 1.9rem;
}

.footer-middle ul>li img {
    display: none;
}

.footer-bottom {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
}

.footer-bottom ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--footer-border-color);
    margin-top: 0.5em;
    margin-bottom: 1rem;
}

.footer-bottom ul ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.footer-bottom ul li,
.footer-bottom p {
    color: var(--footer-text-color);
}

.footer-bottom ul li {
    margin-top: 0.5em;
}

.footer-border{
    border-left: 1px solid var(--footer-border-color);
    padding-left: 0.6em;
}

@media screen and (max-width: 1024px) {
    .footer_comman {
        max-width: 95%;
    }
}

@media screen and (max-width: 855px) {
    nav {
        justify-content: space-between;
    }

    nav .list,
    .search,
    .is-active2 .bag {
        display: none;
    }

    .is-active2 form .form-search .search {
        display: block;
        position: relative;
        top: 36px;
    }

    .section_2 {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0px;
        width: 100%;
    }

    .is-active2 .logo {
        position: absolute;
        left: 49.2%;
        top: 2px;
    }

    .is-active2 {
        background: var(--Dblack);
        border-bottom: 1px solid var(--primary-color);
        height: 99px;
        color: var(--secandary-color);
        align-items: flex-start;
    }

    .is-active2 form {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100vw;
        height: 40px;
        margin-top: 50px;
        position: absolute;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }

    .is-active2 .form-search {
        color: var(--primary-color);
        width: 90vw;
        max-width: 588px;
        top: -40px;
        position: absolute;
    }

    .is-active2 .form-search input {
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 2.21765em;
        width: 100%;
        font-size: 1rem;
        color: var(--primary-color);
        outline: none;
        background-color: var(--black);
        cursor: text;
        padding-left: 30px;
        display: block;
        line-height: 2.11765em;
        border-radius: 5px;
    }

    .is-active2 .list {
        background: var(--Dblack);
        color: var(--secandary-color);
        padding: 20px 0;
        position: absolute;
        width: 100vw;
        height: calc(100vh - 99px);
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .is-active2 .list li:nth-child(-n+9) {
        border-bottom: 1px solid var(--primary-color);
    }

    .is-active2 .list li {
        width: 90vw;
        max-width: 588px;
        height: 35px;
        padding-top: 13px;
        display: block;
        background-size: 45px 45px;
        font-size: 1rem;
    }

    /* Hamburger */
    /* not-active */
    .nav-btn {
        padding: 0 15px;
        display: inline-block !important;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        background-color: transparent;
        border: 0;
        margin: 0px;
        overflow: visible;
        width: 50px;
        height: 43px;
    }

    .hamburger-box {
        width: 20px;
        height: 26px;
        position: relative;
    }

    .hamburger-inner {
        top: auto;
        bottom: 10px;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger-inner::before {
        top: -6px;
        transition: top 0.12s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    }

    .hamburger-inner::after {
        color: var(--secandary-color);
        transition: top 0.2s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            opacity 0.1s linear 0s;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner,
    .hamburger-inner::before {
        width: 13px;
        height: 2px;
        background-color: var(--secandary-color);
        border-radius: 10px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    /* active */
    .is-active {
        padding-top: 15px;
    }

    .is-active:hover {
        opacity: 0.7;
    }

    .is-active .hamburger-inner {
        transform: translate3d(0px, -10px, 0px) rotate(45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.35, 1);
    }

    .is-active .hamburger-inner::before {
        top: 0px;
        transform: rotate(90deg);
        transition: top 0.1s cubic-bezier(0.3, 0, 0.6, 0.3) 0.16s,
            transform 0.13s cubic-bezier(0.215, 0.61, 0.35, 1) 0.25s;
    }

    .Section_comman {
        height: 35rem;
    }
}

@media screen and (max-width:850px) {
    .footer-middle {
        display: block;
    }

    .footer-middle ul>li {
        border: none;
        font-size: 0.98em;
        font-weight: 600;
        padding: 0 1em;
    }

    .footer-hide {
        display: none !important;
    }

    .footer-show {
        margin-left: 1rem;
        margin-top: 0.6rem;

    }

    .footer-show li {
        line-height: 5em;
    }

    .footer-middle ul>li{
        border-bottom: 1px solid var(--footer-border-color);
    }

    .footer-middle ul>li img {
        display: inline-block;
        width: 12px;
        height: 12px;
    }

    .Footer-heading {
        color: var(--footer-text-color) !important;
        font-weight: 600 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
    }

    .Footer-heading:hover {
        color: var(--Dblack) !important;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
    }

    .footer-bottom ul {
        border: none !important;
        flex-direction: column-reverse;
    }

    .footer-bottom ul ol {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        border: none !important;
    }
    .footer-bottom ul ol li {
        margin: 0.8em 0.8em 0 0;
    }
}

@media screen and (max-width: 319px) {
    body {
        display: none;
    }
}