* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #424245;
    --secandary-color: #f5f5f7;
    /* --black: #1d1d1f; */
    --black: #000000;
    --white: #fbfbfd;
    --links: #2997ff;
    ;

}

/* Comman css */

li {
    list-style: none;
    color: var(--secandary-color);
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    width: 100%;
    height: 44px;
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secandary-color);
}

nav .logo {
    width: 40px;
    height: 40px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-image: url(../image/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

nav .form {
    display: none;
}

nav .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--secandary-color);
    cursor: pointer;
    margin: 0 0.8rem;
}

.nav-btn {
    display: none !important;
    z-index: 2;
}

.search {
    width: 40px;
    height: 40px;
    position: relative;
    top: -3px;
    left: 10px;
    cursor: pointer;
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url(../image/search.svg);
}

.bag {
    width: 40px;
    height: 40px;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../image/bag.svg);
    background-position: center center;
}

/* Section Comman css */
.Section_comman {
    width: 100%;
    height: 100vh;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* iPhone 14 Pro */
.section1 {
    background-color: var(--black);
    background-image: url(../image/iPhone\ 14\ pro.jpg);
    color: var(--white);
}

.Section_1 .heading {
    padding-top: 3.8rem;
    font-size: 3.8rem;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.Section_1 .subHeading {
    font-size: 1.8rem;
    margin-top: 7px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.Section_1 .section1-links {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 7px;
    align-content: center;
    justify-content: center;
}

.Section_1 .section1-links .section1-link:nth-child(-n+1) {
    margin-right: 20px;
}

.Section_1 .section1-links .section1-link,
.Section_1 .section1-links .section1-link a {
    font-family: "SF Pro Icons";
    font-size: 1.3rem;
    color: var(--links);
    margin-right: 6px;
}

.Section_1 .section1-links .section1-link a:hover {
    text-decoration: underline;
}

/* iPhone 14*/
.section2 {
    background-color: var(--white);
    background-image: url(../image/iPhone\ 14.jpg);
    color: var(--black);
}

@media screen and (max-width: 855px) {
    nav {
        justify-content: space-between;
    }

    nav .list,
    .search,
    .is-active2 .bag {
        display: none;
    }

    .is-active2 form .form-search .search {
        display: block;
        position: relative;
        top: 38px;
    }


    .is-active2 .logo {
        position: absolute;
        left: 49.2%;
        top: 2px;
    }

    .is-active2 {
        background: var(--black);
        border-bottom: 2px solid var(--primary-color);
        height: 99px;
        color: var(--secandary-color);
        align-items: flex-start;
    }

    .is-active2 form {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100vw;
        height: 40px;
        margin-top: 50px;
        position: absolute;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }

    .is-active2 .form-search {
        color: var(--primary-color);
        width: 90vw;
        max-width: 588px;
        top: -40px;
        position: absolute;
    }

    .is-active2 .form-search input {
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 2.21765em;
        width: 100%;
        font-size: 1rem;
        color: var(--primary-color);
        outline: none;
        background-color: var(--black);
        cursor: text;
        padding-left: 30px;
        display: block;
        line-height: 2.11765em;
        border-radius: 5px;
    }

    .is-active2 .list {
        background: var(--black);
        color: var(--secandary-color);
        padding: 20px 0;
        position: absolute;
        width: 100vw;
        height: calc(100vh - 99px);
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .is-active2 .list li:nth-child(-n+9) {
        border-bottom: 1px solid var(--primary-color);
    }

    .is-active2 .list li {
        width: 90vw;
        max-width: 588px;
        height: 35px;
        padding-top: 13px;
        display: block;
        background-size: 45px 45px;
        font-size: 1rem;
    }

    /* Hamburger */
    /* not-active */
    .nav-btn {
        padding: 0 15px;
        display: inline-block !important;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        background-color: transparent;
        border: 0;
        margin: 0px;
        overflow: visible;
        width: 50px;
        height: 43px;
    }

    .hamburger-box {
        width: 20px;
        height: 26px;
        position: relative;
    }

    .hamburger-inner {
        top: auto;
        bottom: 10px;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger-inner::before {
        top: -6px;
        transition: top 0.12s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    }

    .hamburger-inner::after {
        color: var(--secandary-color);
        transition: top 0.2s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            opacity 0.1s linear 0s;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner,
    .hamburger-inner::before {
        width: 13px;
        height: 2px;
        background-color: var(--secandary-color);
        border-radius: 10px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    /* active */
    .is-active {
        padding-top: 15px;
    }

    .is-active:hover {
        opacity: 0.7;
    }

    .is-active .hamburger-inner {
        transform: translate3d(0px, -10px, 0px) rotate(45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.35, 1);
    }

    .is-active .hamburger-inner::before {
        top: 0px;
        transform: rotate(90deg);
        transition: top 0.1s cubic-bezier(0.3, 0, 0.6, 0.3) 0.16s,
            transform 0.13s cubic-bezier(0.215, 0.61, 0.35, 1) 0.25s;
    }
}

@media screen and (max-width: 768px) {
    .Section_1 {
        height: calc(70vh - 44px);
        background-size: 100vw 85%;
    }

    .Section_1 .heading {
        padding-top: 4rem;
        font-size: 2.8rem;
    }

    .section2 .heading {
        padding-top: 2rem;
    }

    .Section_1 .section1-links .section1-link,
    .Section_1 .section1-links .section1-link a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .Section_1 .heading {
        font-size: 2rem;
    }

    .Section_1 .subHeading {
        font-size: 1rem;
    }

    .Section_1 .section1-links .section1-link,
    .Section_1 .section1-links .section1-link a {
        font-size: 0.8rem;
    }

    .Section_1 {
        height: calc(65vh - 44px);
    }
}

@media screen and (max-width: 300px) {
    body {
        display: none;
    }
}