* {
    margin: 0;
    padding: 0;
}

/* Comman css */
li {
    list-style: none;
    color: #f5f5f7;
}

/* Navbar */
nav {
    width: 100vw;
    height: 44px;
    background-color: #424245;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f7;
}

.nav-btn {
    display: none;
}

nav .logo {
    width: 40px;
    height: 40px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-image: url(../image/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

nav .form {
    display: none;
}

nav .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 200;
    color: #f5f5f7;
    cursor: pointer;
    margin: 0 0.8rem;
}

.search {
    width: 40px;
    height: 40px;
    position: relative;
    top: -3px;
    left: 10px;
    cursor: pointer;
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url(../image/search.svg);
}

.bag {
    width: 40px;
    height: 40px;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../image/bag.svg);
    background-position: center center;
}

@media screen and (max-width: 855px) {
    nav {
        justify-content: space-between;
    }

    nav .list,
    .search,
    .is-active2 .bag {
        display: none;
    }

    .is-active2 form .form-search .search {
        display: block;
        position: relative;
        top: 38px;
    }

    .is-active2 .logo {
        position: absolute;
        left: 47.5vw;
        top: 2px;
    }

    .is-active2 {
        background: rgb(2 2 2);
        border-bottom: 2px solid #424245;
        height: 99px;
        color: #f5f5f7;
        align-items: flex-start;
    }

    .is-active2 form {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100vw;
        height: 40px;
        margin-top: 50px;
        position: absolute;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }

    .is-active2 .form-search {
        color: #86868b;
        cursor: text;
        width: 90vw;
        max-width: 588px;
        top: -40px;
        position: absolute;
    }

    .is-active2 .form-search input {
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 2.21765em;
        width: 100%;
        font-size: 1rem;
        color: #86868b;
        outline: none;
        background-color: #1d1d1f;
        cursor: text;
        padding-left: 30px;
        display: block;
        line-height: 2.11765em;
        border-radius: 5px;
    }

    .is-active2 .list {
        background: rgb(2 2 2);
        color: #f5f5f7;
        padding: 10px 0;
        position: absolute;
        width: 100vw;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .is-active2 .list li:nth-child(-n+9) {
        border-bottom: 1px solid #424245;
    }

    .is-active2 .list li {
        width: 90vw;
        max-width: 588px;
        height: 35px;
        padding-top: 13px;
        display: block;
        background-size: 45px 45px;
        font-size: 1rem;
    }

    /* Hamburger */
    /* not-active */
    .nav-btn {
        padding: 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        background-color: transparent;
        border: 0px;
        margin: 0px;
        overflow: visible;
    }

    .hamburger-box {
        width: 20px;
        height: 26px;
        position: relative;
    }

    .hamburger-inner {
        top: auto;
        bottom: 10px;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger-inner::before {
        top: -6px;
        transition: top 0.12s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    }

    .hamburger-inner::after {
        color: #f5f5f7;
        transition: top 0.2s cubic-bezier(0.3, 0.6, 0.6, 1) 0.2s,
            opacity 0.1s linear 0s;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner,
    .hamburger-inner::before {
        width: 13px;
        height: 2px;
        background-color: #f5f5f7;
        border-radius: 10px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    /* active */

    .is-active:hover {
        opacity: 0.7;
    }

    .is-active .hamburger-inner {
        transform: translate3d(0px, -10px, 0px) rotate(45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.35, 1);
    }

    .is-active .hamburger-inner::before {
        top: 0px;
        transform: rotate(90deg);
        transition: top 0.1s cubic-bezier(0.3, 0, 0.6, 0.3) 0.16s,
            transform 0.13s cubic-bezier(0.215, 0.61, 0.35, 1) 0.25s;
    }


}